* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html{
    font-size: 10px;
}


header .container {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 9rem;
    border-bottom: 0.1rem solid rgb(238, 238, 238);
    z-index: 1000;
    background-color: white;
}

.logo svg{
    width: 90%;
    height: 3rem;
}
.Vertical-Divider{
    width: 1px;
    display: flex;
    background-color: rgb(242, 242, 242);
    height: 100%;
}

.logo, .location{
    padding-left: 2rem;
    
}

.location .location-title{
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 2px;
    margin-left: -8px;
}

.location .location-desc {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-inline: -8px;

    
} 
.location .location-desc .fa-sort-down {
    margin-left: 0.8rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.search-bar{
    display: flex;
    align-items: center;
    width: 35vw;
    height: 4.8rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 1.2rem;
    color: rgb(130, 130, 130);
    background-color: rgba(130, 130, 130,0.08);
    padding: 1.2rem;
    margin-left: 30px;
}

.search-bar svg{
    width: 2rem;
}

.search-bar input {
    border: 0;
    outline: 0;
    margin-left: 1rem;
    background-color: rgba(130, 130, 130,0.01);
}

.logcart{
    display: flex;
    align-items: center;
    height: 100%;
    width: 20%;
    gap: 9rem;
    margin-left: 9rem
}

.cart-btn{
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: green;
    width: 11rem;
    height: 5rem;
    border-radius: 0.6rem;
    color: white;
    cursor: pointer;
}

.cart-btn svg{
    width: 2.6rem;
    height: 30px;
}
.w-6:hover{
    animation: tilt-shaking 0.25s infinite;
}
@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

.cart-btn p{
    font-size: 17px;
}

.login-btn{
    font-size: 2.2rem;
    font-weight: 500;
    border: none;
    background-color: white;
    cursor: pointer;
}


/* Main Section */

.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 9rem;
}

.main-container{
    max-width: 128rem;
}

.banner img{
    width:  100%;
}

.banner-2{
    display: flex;
    column-gap: 2rem;
    overflow-x: scroll;
    margin:1.5rem;
}

.banner-2 .banner-img img{
    height: 19.5rem;
    width: 33.5rem;
}

.catagories{
    display: grid;
    grid-template-columns: repeat(10,10%);
    margin: 0rem - .9rem;
}

.category-img{
    height: 23.5rem;
    width: 12rem;
    cursor: pointer;
    border-radius: 0rem;
}

.catagories .catagory-img img{
    width: 12rem;
}

.items{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.title{
    display: flex;
    justify-content: space-between;
    /* margin-top: 30px; */
    align-items: center;
}

.title .category-name{
    
    font-weight: 600;
    line-height: 0.2rem;
    font-size: 2.6rem;
    margin: 2.5rem 0rem;
}

.title a{
    color: green;
    text-decoration: none;
    font-size: 2rem;
}

.list-items{
    display: flex;
    column-gap: 2.1rem;
    overflow: hidden;
    margin-left: -0.5rem;
    overflow-x: scroll;
}

.list-items .item{
    width: 15%;
    border: 0.05rem solid rgb(232, 232, 232);
    box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 8px;
    border-radius: 0.8rem;
    padding: 1.3rem;
    
}

.item .item-image img{
    width: 100%;
}

.item-details{
    display: flex;
    flex-direction: column;
    row-gap: 0.1rem;
}

.item-details .timer{
    display: initial;
    font-size: 10px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    width: 45%;
    gap: 0.4rem;
    background-color: #F8F8F8;
    border-radius: 5px;
}

.item-details .item-name{
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
}

.item-details .item-weight{
    font-size: 1rem;
    color:grey;
}

.item-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-price .price{
    font-size: 12px;
    font-weight: 600;
}

.item-price button{
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: rgb(247, 255, 249);
    color:rgb(49, 134, 22);
    border: 0.1rem solid rgb(49, 134, 22);
    border-radius: 8px;

}

footer{
    display: flex;
    justify-content: center;
    margin-top: 25rem;
    
}

.foot{
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: x-large;
    font-weight: 500;
    
}

.fa-heart {
   margin: 0.5rem;
}